*
{
    margin: 0;
    Padding: 0;
box-sizing: border-box;
}

body{
 
}

.list-of-tasks
{

    display: block;
}

button{
    margin-top: 2em;
}
input
{
    margin-top: 2em;
display: block;
}